<p class="text-center text-light bg-primary p-4 my-5">
    © Copyright 2020 Capitainerie Russel
</p>

<script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    crossorigin="anonymous">
</script>