<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <a class="navbar-brand" href="/">Capitainerie Russel</a>

  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarMain"
    aria-controls="navbarMain"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarMain">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

      <li class="nav-item">
        <a class="nav-link" href="/">Accueil</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/dashboard">Tableau de bord</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/catways">Catways</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/reservations">Réservations</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/users">Utilisateurs</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/api-docs">API</a>
      </li>

      <li class="nav-item">
        <a class="nav-link text-danger" href="/logout">Déconnexion</a>
      </li>

    </ul>
  </div>
</nav>
