<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title><%= title || 'Port de plaisance' %></title>

    <!-- Bootstrap -->
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css"
    >

    <style>
        body {
            padding-top: 70px;
        }
    </style>
</head>
<body>
